<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Northstrat Fifteen</title>
    <meta name="description" content="Express 4.x app using Passport for authentication with username and password.">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <!-- Pico.css -->
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    <title>TODO</title>
  </head>

  <body>
      <nav class="navbar">
          <span class="navbar-brand box" href="#">
              <img src="http://www.northstrat.net/northstrat/wp-content/uploads/2018/07/Northstrat-LogoNEWresized2-1-e1531934808544.png" alt="Northstrat" class="tt-retina-logo" width="154" height="50">
              <span class="brand-text">15TH ANNIVERSARY</span>
          </span>
      </nav>
      <main>
          <div class="login-container">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Enter Password</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Received with your invitation</h6>
                      <form class="login-form" method="post" action="/login/password">
                          <input type="hidden" name="username" id="username" value="common">
                          <input type="password" class="form-control text-center" id="password" placeholder="Password">
                          <button type="submit" class="card-link btn btn-default btn-block">Submit</button>
                      </form>
                  </div>
              </div>
          </div>
      </main>
<!--        <header class="mdc-top-app-bar">-->
<!--         <div class="mdc-top-app-bar__row">-->
<!--           <section class="mdc-top-app-bar__section mdc-top-app-bar__section&#45;&#45;align-start">-->
<!--             <span class="mdc-top-app-bar__title">Northstrat 15th Anniversary</span>-->
<!--           </section>-->
<!--         </div>-->
<!--        </header>-->
<!--        <main class="mdc-top-app-bar&#45;&#45;fixed-adjust">-->
<!--        <div class="login-container">-->
<!--            <form action="/login/password" method="post">-->
<!--                <div class="mdc-card login-card">-->
<!--                    <div class="mdc-card__primary-action">-->
<!--                          <div class="login-card-title">Enter Password</div>-->
<!--                          <input type="hidden" value="common" name="username">-->
<!--                        <div class="password-container">-->
<!--                            <label class="mdc-text-field">-->
<!--                                <span class="mdc-text-field__ripple"></span>-->
<!--                                <span class="mdc-floating-label" id="my-label-id">Password</span>-->
<!--                                <input id="password" class="mdc-text-field__input" aria-labelledby="my-label-id" name="password" type="password">-->
<!--                                <span class="mdc-line-ripple"></span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mdc-card__actions">-->
<!--                        <div class="mdc-card__action-buttons">-->
<!--                            <button type="submit" class="mdc-button mdc-card__action mdc-card__action&#45;&#45;button">-->
<!--                                <div class="mdc-button__ripple"></div>-->
<!--                                <span class="mdc-button__label">Submit</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        </main>-->
  </body>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script type="application/javascript">
      mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
  </script>
</html>
